<!-- CSS only -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
  integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
  crossorigin="anonymous"
/>

<!-- JS, Popper.js, and jQuery -->
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
  integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
  crossorigin="anonymous"
></script>
<div class="container">
  <h1>{{ title }}</h1>
  <div class="card" style="width: 18rem">
    <div class="card-header">Recipes</div>
    <ul class="list-group list-group-flush">
      {% for recipe in data %}
      <li class="list-group-item">
        <a href="/recipe/{{ recipe.id}}"> {{recipe.title}} </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<br /><br />

{% if request.user.is_authenticated %}

<a href="/addrecipe/"
  ><button style="color: #1a5276; font-size: 16px">Add a Recipe</button></a
>
<a href="/addauthor/"
  ><button style="color: #1a5276; font-size: 16px">Add an Author</button></a
>
<a href="/logout/"
  ><button style="color: #1a5276; font-size: 16px">Logout</button></a
>
{% else %}
<a href="/signup/"
  ><button style="color: #1a5276; font-size: 16px">Signup</button></a
>
<a href="/login/"
  ><button style="color: #1a5276; font-size: 16px">Login</button></a
>
{% endif %}
