<!-- CSS only -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
  integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
  crossorigin="anonymous"
/>

<!-- JS, Popper.js, and jQuery -->
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
  integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
  crossorigin="anonymous"
></script>
<div class="container">
  <h1>Recipe</h1>
  <div class="card" style="width: 22rem">
    <div class="card-body">
      <h4 class="card-title">{{ recipe.title }}</h4>
      <h5>
        <a class="card-link" href="/author/{{ recipe.author.id }}"
          >{{recipe.author.name}}</a
        >
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Time Required: {{ recipe.time_required}}
      </h6>
      <h6>Description:</h6>
      <p class="card-text">{{ recipe.description }}</p>
      <h6>Instructions:</h6>
      <p class="card-text">{{ recipe.instructions }}</p>
    </div>
  </div>

  {% if request.user.is_authenticated %}
  <button><a href="/addFavorite/{{post.id}}/">Add to Favorites</a></button>
  {% endif %} 
  {% if request.user.author == post.author or request.user.is_staff %}
  <button><a href="/editRecipe/{{post.id}}/">Edit Recipe</a></button>
  {% endif %}
  <br><br>
  <a href = "/">Back Home!</a>
</div>
